.card {
  padding: 2em;
}

.app {
  display: flex;
}

.app h1 {
  margin: 1rem;
}

.description {
  display: block;
  background-color: #eee;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
}