.project {
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-input {
    outline: none;
    border: 1px solid transparent;
}

input:focus {
    border: 1px solid #aaa;
}
